body {
	border: 3px solid powderblue;
	padding: 30px;
	background-image: url("https://www.freecodecamp.org/news/content/images/2021/06/w-qjCHPZbeXCQ-unsplash.jpg");
	background-size: cover;
	background-attachment: fixed;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

button{
	background-color: #f44336;
	color: white;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border: 0px
}

button:hover{
	background-color: red;
}

td{
	border: 2px;
	background-color: #96D4D4;
	border-radius: 10px;
	padding: 10px;
	padding-right: 40px;
}

td:hover{
	background-color: #96D4FF;
}

th{
	text-align: left;
	border: 2px;
	background-color: #96D4FF;
	border-radius: 10px;
	padding: 15px;
	padding-right: 40px;
}

caption{
	border: 2px;
	background-color: #96D4FF;
	border-radius: 10px;
	padding: 2px;
}







